*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
    margin-bottom: 0;
}
.modal-plans{
    display: flex;
    gap: 12px;
   
}
.modal-plans plans{
    padding: 25px;
    background-color: red;
   
}
.modal-contents{
    display: flex;
    gap: 12px;
}
.modal-body{
    display: flex;
    gap: 20px;
  
}
.modal-footer{
    position: absolute;
    top: -15px;
    right: -15px;
}